<section>
    <div class="container">
        <div class="container__header">
            <img class="container__header--image" src="../../../assets/img/header/Mask Group.png" alt="computer">
            <img class="container__header--tape" src="../../../assets/img/Tape/Ellipse 1.png" alt="tape1">
            <p class="container__header--title"><span class="light_blue">Insoftar:</span> un paso más delante del desarrollo <span class="dark_blue">tecnológico</span></p>
        </div>
    </div>
</section>
