<div class="container">
    <div class="header">
        <img class="header_image" src="../../../assets/img/header/Mask Group.png" alt="">
        <img class="tape" src="../../../assets/img/Tape/Ellipse 1.png" alt="">
        <p class="title"><span class="light_blue">Insoftar:</span> un paso más delante del desarrollo <span class="dark_blue">tecnológico</span></p>
    </div>
    <div class="content">
        <p class="content_text">Con más de 10 años de experiencia en el desarrollo web, en Insoftar buscamos  como objetivo principal, realizar un <span class="dark_text">“acompañamiento en la definición de los procesos de negocio e implementación de las soluciones tecnológicas”</span> teniendo claro que no solo nos preocupamos por realizar un buen diseño del sitio web, sino también en ofrecer al cliente soluciones y mejoras de acuerdo a sus necesidades. Por lo anterior siempre buscaremos evolucionar en la era tecnológica, con las mejores herramientas en infraestructura, bases de datos, tecnologías de programación y devops (tiene como objetivo unificar el desarrollo de software y la operación del software). <br><br>

            En vista de esto en <span class="light_blue">Intelligent Software Architecture (Insoftar)</span> hemos tomado la decisión de implementar las herramientas brindadas por Elastic, las cuales actúan como motor de análisis distribuido y analítica brindando de tal manera la capacitad de indexar varios tipos de datos desde el tipo numérico hasta estructurados. <br><br>
            
            Elastic posee un amplio reconocimiento internacional debido a los productos de alta calidad que posee, los cuales brindan una gran evolución tecnológica ayudando de tal manera a impulsar empresas de desarrollo de software, a optimizar los tiempos de respuesta para sus clientes, entre otras acciones. <br><br>
            
            Uno de los logros más importantes que hemos tenido hasta el momento fue lograr una mayor optimización del tiempo de respuesta en las búsquedas del portal web “cien cuadras” ganando así mayor tráfico. Adicionalmente hemos conseguido gran incremento de ventas y una reducción considerable del 35% en infraestructura al migrar a <span class="light_blue">Elastic Cloud</span> sobrepasando las expectativas de los clientes y como si fuera poco se logro transformaciones en la ingesta de datos y uso de <span class="light_blue">multisearch</span> para recuperar información relevante a los clientes, entre otros. <br><br>
            
            En el siguiente link, <span class="light_blue">nuestro CEO Harley Aranda</span> presenta con más detalle, casos de éxitos logrados con la implementación de estas herramientas.  
            </p>
            <img src="../../../assets/img/content/Captura de pantalla de 2020-06-26 12-06-03 1.png" alt="">
            <p class="content_text"><span class="light">https://www.elastic.co/es/elasticon/tour/2020/latin-america/insoftar-optimizing-response-times-with-the-elastic-stack</span> <br><br>
                
                Los resultados obtenidos, la eficiencia y dedicación evidenciada a lo largo del tiempo han permitido que nuestra empresa forme parte del grupo selecto de <span class="light_blue">partner de Elastic en Colombia,</span> logrando así un reconocimiento internacional. Lo que permitirá en un futuro cercano que Insoftar se posicione como una de las mejores en desarrollo de arquitectura de software inteligente a nivel internacional. </p>
    </div>
</div>
